Alias /pakiti/feed/ /var/www/pakiti-server/src/modules/feeder/www/
<Location /pakiti/feed>
        DirectoryIndex index.php
        Require all granted
</Location>

Alias /pakiti/protected/ /var/www/pakiti-server/src/modules/gui/www/
<Location /pakiti/protected>
        # TODO add authentication here !
        DirectoryIndex hosts.php
        Require all granted
</Location>

Alias /pakiti/ /var/www/pakiti-server/src/modules/gui/www/public/
<Location /pakiti>
        DirectoryIndex index.php
        Require all granted
</Location>

Alias /pakiti/api/ /var/www/pakiti-server/src/modules/api/
<Location /pakiti/api>
        Require ip 127.0.0.1
</Location>
