<?php

final class Config extends DefaultConfig
{
    public static $DB_HOST = "localhost";
    public static $DB_USER = "{{ pakiti_mysql_user }}";
    public static $DB_PASSWORD = "{{ pakiti_mysql_pass }}";
    public static $DB_NAME = "{{ pakiti_mysql_db }}";
}
